<div class="main_board center-align row">
  <div class="title board_item text  block ">
    
      <a href="<%= root_path %>" style="text-decoration: none !important; color: #8f8f8f6c !important; font-weight: normal; margin: 0; padding: 0">Return</a>
      <% if logged_in?%>
        <a href="<%= new_tool_path %>" style="text-decoration: none !important; color: #8f8f8f6c !important; font-weight: normal; margin: 0; padding: 0">New</a>
      <% end %>
    
    <div class="row">
      <div class="input-field col s12">
        <h4 class="h4" style="margin: 0 !important;">Conhecimentos</h4>
      </div>
    </div>

    <div class="info_board center-align row"></div>

    <% @colors= ['indigo', 'grey']%>
    <% @index = 0 %>

    
        <% @tools.each do |tool| %>

          <div class="title board_item text text_greeting block <%= (@index.even?)? @colors[0] : @colors[1]%> darken-4" style="padding: 0.5em !important">
  
            <ul style="padding: 0 !important; margin: 0 !important;">
              <li>
                  <%= tool.name %>
              </li>
              <% if logged_in?%>
                <li>
                  <%= link_to  "Edit", edit_tool_path(tool), style: 'text-decoration: none !important; color: black !important; font-weight: normal; margin: 0; padding: 0'  %>
                  <%= link_to  "Delete", tool_path(tool), method: :delete, style: 'text-decoration: none !important; color: red !important; font-weight: normal; margin: 0; padding: 0' %>
                </li>
              <% end %>
            </ul>
          </div>

        <% @index += 1 %>
        <% end %>


    </div>
    

  </div>
</div>