<%= form_with(model: career_info, local: true) do |form| %>
  <% if career_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(career_info.errors.count, "error") %> prohibited this career_info from being saved:</h2>

      <ul>
        <% career_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :work_function %>
    <%= form.text_field :work_function %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
