<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @career_info.company %>
</p>

<p>
  <strong>Work function:</strong>
  <%= @career_info.work_function %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @career_info.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @career_info.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @career_info.description %>
</p>

<%= link_to 'Edit', edit_career_info_path(@career_info) %> |
<%= link_to 'Back', career_infos_path %>
