<div class="main_board center-align row">
    <div class="title board_item text  block ">
      
      <div class="row">
        <div class="input-field col s12">
          <h4 style="color: #8f8f8f !important; font-weight: normal;">Languages</h4>
        </div>
      </div>

      <%= form_with model: @language, local: true do |f| %>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :institution,  class:"validate input_field", placeholder:"School" %>
            <%= f.label :institution, "Instituição:"%>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :language,  class:"validate input_field", placeholder:"English" %>
            <%= f.label :language, "Língua:"%>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.date_field :start_date,  class:"datepicker validate input_field" %>
            <%= f.label :start_date, "Início:"%>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.date_field :end_date,  class:"datepicker validate input_field" %>
            <%= f.label :end_date, "Fim:"%>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :level,  class:"validate input_field", placeholder:"Native" %>
            <%= f.label :level, "Level:"%>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s12">
            <%= f.submit "Save", class:"waves-effect waves-light btn-small amber darken-2 white-text"%>
          </div>
        </div>

      <% end %>


    </div>
</div>