<div class="main_board center-align row">
    <div class="title board_item text  block ">
      

      <div class="row" style="margin-bottom: 0 !important;">
        <div class="input-field col s12" style="margin-bottom: 20px !important;">
          <h4 style="color: #8f8f8f !important; font-weight: normal;">Dashboard</h4>
          <h6 style="color: #8f8f8f6c !important; font-weight: normal;"><%= current_user.email  if logged_in?%></h6>
          <p style="color: grey; margin-top: 20px; padding: 0; margin-bottom: 10px;">Visitantes:</p>
          <h6 style="color: grey; margin-top: 0; padding: 0;"> 
          Esta semana(<%= @week_visits%>) Ontem(<%= @yesterday_visits%>) Hoje(<%= @today_visits%>) <%= link_to  " ? ",
                                                                                                       visitors_path,
                                                                                                       style: 'background-color: white;
                                                                                                               padding: 0 6px;
                                                                                                               border-radius: 10px;
                                                                                                               color: #00FF00;
                                                                                                               color: #ffa000;
                                                                                                               font-weight: bold;
                                                                                                               box-shadow: 1px 0px 5px #0000004f;
                                                                                                               box-shadow: 0px 0px 5px #ffa0009f;
                                                                                                       '
                                                                                                       %>
          </h6>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <div class="collection">
            <%= link_to  "Usuário - Credenciais", edit_user_path(@user), class: "collection-item"%>
            <%= link_to  "Informações Pessoais", personal_info_path, class: "collection-item"%>
            <%= link_to  "Idiomas", languages_path, class: "collection-item"%>
            <%= link_to  "Formação", academics_path, class: "collection-item"%>
            <%= link_to  "Cursos", courses_path, class: "collection-item"%>
            <%= link_to  "Experiência Profissional", career_infos_path, class: "collection-item"%>
            <%= link_to  "Conhecimentos", tools_path, class: "collection-item"%>
          </div>
        </div>
      </div>
            
      

    </div>
</div>