<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="https://xitarpscv.herokuapp.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CvSys">
    <meta property="og:description" content="sistema de currículo em rails">
    <meta property="og:image" content="https://raw.githubusercontent.com/xitarps/curriculo/master/git_images/og_image_.png">

    <title>CvSys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/notice_and_alert'%>
      <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
